@import 'bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Market';
  src: url('./asset/font/market/Market.otf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Market';
  font-size: 1.2rem;
  color: #808080;
  background: #f1f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HeaderAnimation-appear {
  transform: translateY(-30px);
  opacity: 0;
}
.HeaderAnimation-appear.HeaderAnimation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.TabsAnimation-appear {
  transform: translateY(30px);
  opacity: 0;
}
.TabsAnimation-appear.TabsAnimation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s linear;
}
