@import 'bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Market';
  src: url('./asset/font/market/Market.otf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Market';
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
